{% extends "base.html" %}
{% block main_content %}


    <!-- create profile form -->
    <section id="register-page" class="content auth">
        <form id="register" action="{% url "create_profile" %}" method="post">
            <div class="container">
                <div class="brand-logo"></div>
                <h1>Create Profile</h1>

                {{ form.as_p }}
                {% csrf_token %}


                <!-- Create Button -->
                <input class="btn submit" type="submit" value="Create Profile"/>
            </div>
        </form>
    </section>
{% endblock %}
