<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .nav {
            display: flex;
            gap: 10px;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<ul class="nav">
    <li><a href="{% url "todos_list" %}">Index</a></li>
    <li><a href="{% url "todos_create" %}">Create todo</a></li>
</ul>
<hr>
{% block content %}

{% endblock %}
</body>
</html>