{#extends with path to the base.html#}
{% extends "master_with_sidebar.html" %}
{% load number_filters %}
{% load list_tags %}

{% block page_title %}
    - Home
{% endblock %}

{% block body_end_scripts %}
    <script>
        setTimeout(() => {
            document.body.innerHTML += ("<h2>After 2 seconds.</h2>")
        }, 2000);
    </script>
{% endblock %}

{% block main_content %}
    <h2>This is {{ brand|lower|capfirst }}</h2>
    <img
            width="400"
            src="{{ ktm_image }}" alt="">
    <h2>Filtered numbers using custom filters</h2>
    <p>
    <strong>All numbers:</strong>
    {% list_of numbers %}
</p>
<p>
    <strong>Odd numbers:</strong>
    {{ numbers|only_odd }}
</p>
<p>
    <strong>Even numbers:</strong>

    {{ numbers|only_even }}
</p>

<h2>Using custom tags</h2>
<h2>This is {{ brand|lower|capfirst }}</h2>
<img
        width="400"
        src="{{ ktm_image }}" alt="">
<h2>Filtered numbers using custom filters</h2>
<p>
    <strong>All numbers:</strong>
    {{ numbers }}
</p>
<p>
    <strong>Odd numbers:</strong>
    {{ numbers|only_odd }}
</p>
<p>
    <strong>Even numbers:</strong>

    {{ numbers|only_even }}
</p>

    <h2>{% current_time %}</h2>

{% endblock %}