{% extends "base.html" %}

{% block main_content %}

    <!-- Main Content -->
    <!--Edit Page-->
    <section class="editPage">
        <form action="{% url 'edit_album' pk=object.pk %}" method="post">
            <fieldset>
                <legend>Edit Album</legend>
                <div class="container">
                    {{ form.as_p }}

                    <!-- Button for Editing Album -->
                    <button class="edit-album" type="submit">Edit Album</button>
                    {% csrf_token %}
                </div>
            </fieldset>
        </form>
    </section>

{% endblock %}

