{% extends "base.html" %}

{% block main_content %}

    {% if cars.count <= 0 %}

        <p class="no-articles">No cars yet</p>
    {% else %}


        <section id="catalogue">
            <h1>Total cars: {{ cars.count }}</h1>
            {% for car in cars %}

                <div class="car-card">
                    <div class="image-wrap">

                        <img
                                src="{{ car.image_url }}"
                                alt="{{ car.name }}"
                        />
                    </div>

                    <h3>{{ car.type }}</h3>

                    <h1>{{ car.model }}</h1>
                    <div class="details-buttons">

                        <a href="{% url 'details_car' pk=car.pk %}" class="details-btn">Details</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
