{% load static %}
<!DOCTYPE html>
{# The name does not matter#}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title></title>
    {% block styles %}
    {% endblock %}

    {% block head_scripts %}
        {# All pages scripts #}
    {% endblock %}
</head>
<body>
{% block body_start_scripts %} {% endblock %}
<h1>Welcome to Angel's App!</h1>
{% include "partials/header.html" with title="The app of Angel's bikes" %}
{# {% include "partials/header.html" %}#}


{# Defines where inheritor templates#}
{# can insert their custom/specific html#}

{% block main_content %}
    {# We can define default HTML#}
    <h2>No content</h2>

{% endblock %}
{% include "partials/footer.html" %}
{% block body_end_scripts %} {% endblock %}
</body>
</html>