<form action="/create" method="post">
    {# Form fields #}
    <input type="text" name="first_name">
    <input type="number" name="age">
    {#    <input type="url" name="blog">#}
    {#    <input type="email" name="personal_email">#}
    {#    <input type="hidden">#}
    {##}
    {##}
    {#    <input type="radio" name="gender">#}
    {#    <input type="checkbox" name="interests">#}

    <button>Send</button>

    {# Text Area #}
    {# Multiline text #}
    {#    <textarea name="description">#}
    {##}
    {#    </textarea>#}

    {# Dropdowns #}
    <select name="interests">
        <option value="1">Skydiving</option>
        <option value="2">Motorcycling</option>
        <option value="3">Coding</option>
    </select>
    {# Old School #}
    {#    <input type="submit" value="Send">#}
</form>